body {
  background-color: black;
  color: white;
  font-family: Armata;
  font-weight: 800;
  transition-duration: 0.5s;
}

p {
  display: inline-block;
}

button {
  display: block;
  background-color: white;
  color: white;
  border-style: none;
}
button:hover {
  cursor: pointer;
}

.lightModeButton {
  width: 60px;
  height: 60px;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition-duration: 0.5s;
}

.profileBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  vertical-align: middle;
  margin-top: 200px;
}

.userProfile {
  width: 80px;
  height: 80px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: transparent;
  border-style: none;
  border-radius: 50%;
  margin-bottom: 10px;
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discordStatus {
  height: 100%;
  padding: 5px;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: black;
  border-width: 1px;
  font-family: Armata;
  font-weight: 800;
  transition-duration: 0.5s;
}

.spotifyArt {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 10px;
  border-style: none;
  background-color: transparent;
  box-shadow: 0 0 50px rgb(255, 255, 255, 0.1 )
}
.spotifyTrack,
.spotifyArtist {
  vertical-align: middle;
  margin: 0;
  margin-top: 10px;
}